Source: com.github.cassidyjames.principles
Section: x11
Maintainer: Cassidy James Blaede <c@ssidyjam.es>
Build-Depends: debhelper (>= 9),
               libgtk-3-dev,
               libgranite-dev,
               meson,
               valac
Standards-Version: 3.9.6
Homepage: https://github.com/cassidyjames/principles

Package: com.github.cassidyjames.principles
Architecture: any
Priority: optional
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Remember Dieter Rams' ten principles of good design
