.principles,
.titlebar {
    transition: 500ms ease;
}

.principles {
    color: black;
    text-shadow: 0 0 0.5em rgba(255, 255, 255, 0.75);
}

.principles.dark {
    color: white;
    text-shadow: 0 0 0.5em rgba(0, 0, 0, 0.75);
}

.principles:backdrop {
    background: transparent;
}

.principles:backdrop .titlebar {
    opacity: 0;
}

.principles:backdrop * {
    border: 0px solid transparent;
    box-shadow: 0 0 transparent;
}

.principle-title {
    font-size: 2.5em;
    font-weight: 700;
}

.principle-description {
    font-size: 1.25em;
}

.principle-number {
    font-size: 10em;
    font-weight: 200;
    letter-spacing: -0.125em;
    margin-top: -0.25em;
}
